// main: ../../../../style.scss
.bottom-bar {
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font-heading);
        .mega-menu-search {
          display: none;
        }
        a {
            img {
                width: auto;
                max-height: var(--logo-height, 5rem);
                transition: 0.25s ease-in;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    @media screen and (min-width: $desktop) {
        .header-nav {
            justify-content: flex-end;
            .site-branding {
                position: absolute;
                left: 10%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
